. {
    box-sizing: border-box;
}

body {
    margin: 0px;
    line-height: 1.5;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;

    padding: 40px
}

.section-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.name{
    font-size: 30px;
    color: #0e2452;
}

.my-info {
    font-size: 20px;
    color: #0e2452;
    display: inline-block;
    margin-right: 100px;
}
.content-info {
    font-size: 20px;
    color: #0e2452;
    display: inline-block;
}

 #info {
    position: relative;
    margin-bottom: 40px;
 }

.avt {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
 }